######################
## Packer Artifacts ##
######################
packer_cache/*
output-virtualbox-iso/*
*.log
*.box

#######################
## Vagrant Artifacts ##
#######################
Vagrantfile
.vagrant/*