######################
## Packer Artifacts ##
######################
packer/packer_cache/*
packer/output-virtualbox-iso/*
packer/*.log
packer/*.box
packer/.packer*

#######################
## Vagrant Artifacts ##
#######################
.vagrant/*
builds/*

#########################
## Terraform Artifacts ##
#########################
terraform/.terraform*